*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", Helvetica, sans-serif;
    color: #0C0102;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Rubik", Helvetica, sans-serif;
}
.special {
    font-family: "Lilita One", Helvetica, sans-serif;
}
p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 24px;
}
ul, ol{
    list-style: none;
}
a {
    text-decoration: none;
    color: #CC7E24;
    font-weight: 500;
}
a:hover {
    color: #6E0C0E;
}
img {
    width: 100%;
    height: auto;
}
h1 {
    font-size: 60px;
    line-height: 72px;
    font-weight: 600;
}
h2 {
    font-size: 48px;
    line-height: 64px;
    font-weight: 600;
}
h3 {
    font-size: 40px;
    line-height: 56px;
    font-weight: 500;
}
h4 {
    font-size: 32px;
    line-height: 48px;
    font-weight: 600;
}
h5 {
    font-size: 24px;
    line-height: 40px;
    font-weight: 600;
}
h6 {
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
}
.primary10 {
    color: #7A0D10;
}
.primary11 {
    color: #6E0C0E;
}
.primary12 {
    color: #620A0D;
}
.primary13 {
    color: #55090B;
}
.primary9 {
    color: #872528;
}
.primary8 {
    color: #953D40;
}
.primary7 {
    color: #A25658;
}
.secondary10 {
    color: #FF9D2D;
}
.secondary11 {
    color: #E68D29;
}
.secondary12 {
    color: #CC7E24;
}
.secondary13 {
    color: #B36E1F;
}
.secondary9 {
    color: #FFA742;
}
.secondary8 {
    color: #FFB157;
}
.secondary7 {
    color: #FFBA6C;
}
.black100 {
    color: #0C0102;
}
.black75 {
    color: #383838;
}
.gray100 {
    color: #A3A3A3;
}
.gray80 {
    color: #DADADA;
}
.gray60 {
    color: #E3E3E3;
}
.gray40 {
    color: #EDEDED;
}
.gray20 {
    color: #F6F6F6;
}
.hide {
    display: none;
}
.maxwidth {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
}
header {
    margin: 0 auto;
    display: flex;
    max-width: 1120px;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    width: 100%;
    max-height: 70px;
}
.logo img {
    height: 40px;
}
.logo a {
    display:inline-flex;
    align-items: center;
    gap: 5px;
    font-family: "Lilita One", Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.header-l nav ul {
    display: inline-block;
}
.header-l nav ul li {
    display: inline-block;
    margin-right: 16px;
    position: relative;
}
header.header-l {
    display: flex;
    align-items: center;
}
li.parent a{
    color: #7A0D10;
    background-color: #E68D29;
    border: 2px solid #E68D29;
    border-radius: 5px;
    padding: 8px 16px;
    max-height: 40px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Rubik", Helvetica, sans-serif;
}
li.parent img {
    margin-left:4px ;
    width: 16px;
    height: 12px;
}
li.parent a:hover {
    color:#E68D29 ;
    background-color: #7A0D10;
    border: 2px solid #FF9D2D;
}
.header-l nav ul ul.child {
    display: none;
    position: fixed;
    background-color: white;
    border-top: 2px solid #E68D29;
}
ul.child li a{
    color: #0C0102;
    background-color: #FFFFFF;
    border: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    padding: 12px 16px;
    display: block;
}
ul.child li a:hover{
    color: #E68D29;
    background-color: #FFFFFF;
    border: none;
}
.header-l nav ul ul.child li {
    margin: 0;
    display: block;
}
.header-l nav ul li.parent:hover ul.child {
    display: block;
}
.header-r{
    display: inline;
    align-items: center;
}
.header-r nav ul li {
    display: inline-block;
    margin-right: 8px;
    position: relative;
}
div.search{
    display:inline-block;
    align-items: center;
}
input.search {
    padding: 12px 16px;
    border: 1px solid #FFBA6C;
    border-radius: 4px;
    margin-right: 1px;
    height: 36px;
    width: 450px;
}
li.sign-up a {
    color: #7A0D10;
    background-color: #E68D29;
    border: 2px solid #E68D29;
    border-radius: 5px;
    padding: 8px 16px;
    max-height: 40px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Rubik", Helvetica, sans-serif;
}
li.sign-up a:hover {
    background-color: #FF9D2D;
    border: 2px solid #FF9D2D;
}
li.sign-up a:active {
    background-color: #7A0D10;
    color: #E68D29;
    border: 2px solid #FFBA6C;
}
li.cart a {
    color: #7A0D10;
    background-color: #E68D29;
    border: 2px solid #E68D29;
    border-radius: 5px;
    padding: 8px 16px;
    max-height: 40px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Rubik", Helvetica, sans-serif;
}
li.cart a:hover {
    background-color: #FF9D2D;
    border: 2px solid #FF9D2D;
}
li.cart a:active {
    background-color: #7A0D10;
    color: #E68D29;
    border: 2px solid #FFBA6C;
}
img.cart{
    margin-left: 5px;
    width: 16px;
    height: 16px;
}
li.wish a {
    color: #7A0D10;
    background-color: #E68D29;
    border: 2px solid #E68D29;
    border-radius: 5px;
    padding: 8px 16px;
    max-height: 40px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Rubik", Helvetica, sans-serif;
}
li.wish a:hover {
    background-color: #FF9D2D;
    border: 2px solid #FF9D2D;
}
li.wish a:active {
    background-color: #7A0D10;
    color: #E68D29;
    border: 2px solid #FFBA6C;
}
img.wish{
    margin-left: 5px;
    width: 16px;
    height: 16px;
    color: #6E0C0E;
}

.hero{
    background-color: #FFBA6C;
}
section.hero div.maxwidth {
    display:block;
    padding: 48px 0;
}
section.hero div#carousel {
    max-width: 1120px;
    background-color: #FFBA6C;
    height: auto;
    border-radius: 8px;
}
div#carousel img {
    max-width: 1120px;
    display: block;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    max-height: 450px;
    height: 100%;
    object-fit:cover;
}
hr{
    background-color: #FF9D2D;
    width: 80px;
    height: 4px;
    margin: 32px auto;
    border: none;
}
section.categories .cards{
    max-width: 1120px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 24px;
    margin-top: 32px;
    margin-left: auto;
    margin-left: auto;
}
section.categories .cards a{
    margin-left: 25%;
    text-align: center;
    color: #7A0D10;
    font-size: 24px;
    font-weight: 700;
    font-family: "Rubik", Helvetica, sans-serif;
}
section.categories .cards a:hover{
    background-color: #F2E7E7;
    border-radius: 8px;

}
section.categories .cards img{
    width: 280px;
    height: 280px;
    border-radius: 8px;

}
section.footer {
    padding: 48px 0;
    background-color: #EDEDED;
}
footer {
    display: flex;
    gap: 48px;
}
.footer-l {
    width: 40%;
}
.footer-m, .footer-r {
    width: 30%;
}
.social {
    display: inline-flex;
    gap: 12px;
}
.social img {
    height: 32px;
} 
footer div.logo {
    margin-bottom: 24px;
}
.footer-l p {
    margin-bottom: 24px;
}
.brands_sitemap {
    display: flex;
    gap: 48px;
} 
.brands_sitemap li {
    line-height: 32px;
    /* background: url(../images/menu-arrow.svg) left center no-repeat; */
}
.brands_sitemap li a {
    color: #0C0102;
}
footer h5 {
    margin-bottom: 16px;
}
.footer-r ul li {
    line-height: 24px;
    margin-bottom: 24px;
    padding-left: 24px;
}
.footer-r ul li.web-support {
    background: url(../../node_modules/bootstrap-icons/icons/globe.svg) left 5px no-repeat;
}
.web-support a{
    color: #0C0102;

}
.footer-r ul li.email {
    background: url(../../node_modules/bootstrap-icons/icons/envelope-at-fill.svg) left 5px no-repeat;
}
.footer-r ul li.phone {
    background: url(../../node_modules/bootstrap-icons/icons/telephone-fill.svg) left 5px no-repeat;
}
.featured h2 {
    margin-top: 32px;
    text-align: center;
}
.featured hr{
    background-color: #FF9D2D;
    width: 120px;
    height: 4px;
    margin: 0 auto;
    border: none;
}
.featured .cards{
    display: flex;
    gap: 17px;
    margin-top: 24px;
}
.featured .cards a{
    display: block;
    background-color: #F2E7E7;
    text-align: left;
    color: #7A0D10;
    font-size: 12px;
    padding: 24px 24px;
    font-weight: 700;
    border-radius: 8px;
    max-height: min-content;
    font-family: "Rubik", Helvetica, sans-serif;
}
.featured .cards a:hover{
    background-color: #d7b6b7;

}

.featured .cards img{
    width: 125px;
    height: 176px;
    border-radius: 8px;
    object-fit: contain;

}
.featured span{
    display: block;
    width: 125px;
    max-height: 27px;
    overflow: hidden;
    
}
.featured span.price{
    margin-top: 4px;
    display: block;
    max-height: 27px;
    overflow: hidden;
    
}
.unknown div.maxwidth {
    height: 300px;
}
div.popupOverlay{
    z-index: 12;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    width: 100%;
    height:100%;
    visibility: hidden;
}
div.popupContent{
    background-color: white;
    border-radius: 16px;
    padding: 24px;
    text-align: center;
    width: 50%;
    position: absolute;
    top: 150px;
    left: 25%;
    visibility: hidden;
}
div.popupOverlay.active{
    visibility: visible;
}
div.popupContent.active{
    visibility: visible;
}
.popupContent div{
    margin-bottom: 16px;
    display: flex;
    gap: 24px;
}
.popupContent input[type="text"], .popupContent input[type="date"], .popupContent input[type="email"], .popupContent input[type="password"]{
    background-color: #F6F6F6;
    border: solid 1px #E3E3E3;
    color: #A3A3A3;
    padding: 8px 12px;
    max-height: 40px;
    border-radius: 5px;
    font-size: 16px;
    width: 50%;
}
.popupContent input[type="submit"] {
    background-color: #FFA742;
    color: #7A0D10;
    font-family: "Rubik", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 900;
    border-radius: 5px;
    padding: 8px 16px;
    border: none;
}
.popupContent div.log-in a{
    display: inline;
    color: #FFA742;
    font-family: "Rubik", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 900;
    border-radius: 5px;
    padding: 8px 16px;
    border: 2px solid #FFA742;
}
.popupContent div.submit{
    justify-content: end;
}
.popupContent div.log-in{
    justify-content: start;
}
.hide{
    display: none;
}
.show{
    display: flex;
}
.details .detail{
    display: flex;
    gap: 24px;
    margin-top: 32px;
}
.details .detail img{
    width: 240px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}
.details {
    background-color: #FFBA6C;
    min-height: 460px;
}
.details div.maxwidth {
    display:block;
    padding: 48px 0;
}
.details .detail h2{
    font-size: 32px;
    line-height: normal;
}
.details .detail .content .buy a {
    color: #E68D29;
    background-color: #7A0D10;
    border: 2px solid #7A0D10;
    border-radius: 5px;
    padding: 8px 16px;
    max-height: 40px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Rubik", Helvetica, sans-serif;
}
.details .detail .content{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.owl-carousel img {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}
section.contact {
    padding: 96px 20px;
}
section.contact h1 {
    color: #E68D29;
}
section.google-map {
    padding: 0;
}
div.map {
    width: 100%;
    text-align: center;
    margin-bottom: 96px;
}

div.map iframe {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}
section.mainbranch div.maxwidth {
    display: flex;
    padding: 48px 0;
    gap: 32px;
}

.mainbranch-l,
.mainbranch-r {
    width: 50%;
}

.mainbranch-l h3,
.mainbranch-r h3 {
    color: #6E0C0E;
}

div.mainbranch-l li,
div.branches div.blog-card ul li {
    padding-left: 32px;
    margin-bottom: 16px;
    line-height: 32px;
    font-size: 18px;
}

div.mainbranch-l li.address {
    background: url(../images/location.svg) left 6px no-repeat;
    background-size: 18px;
}

div.mainbranch-l li.email {
    background: url(../images/mail.svg)left 8px no-repeat;
    background-size: 20px;
}

div.mainbranch-l li.hotline{
    background: url(../images/hotline.svg)left 5px no-repeat;
    background-size: 20px;
}


.mainbranch-r form div {
    display: flex;
    gap: 32px;
    margin-bottom: 16px;
}
section.contact {
    text-align: center;     
    background: url(../images/contact-bg.jpg) center center no-repeat;
    background-size: cover;
}
.mainbranch-r textarea {
    background-color: #F6F6F6;
    border: solid 1px #E3E3E3;
    color: #A3A3A3;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    height: 96px;
}
.mainbranch-r input[type="text"] {
    background-color: #F6F6F6;
    border: solid 1px #E3E3E3;
    color: #A3A3A3;
    padding: 8px 12px;
    max-height: 40px;
    border-radius: 5px;
    font-size: 16px;
    width: 50%;
}
.mainbranch-r input[type="submit"] {
    background-color: #FFA742;
    color: #7A0D10;
    font-family: "Rubik", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 900;
    border-radius: 5px;
    padding: 8px 16px;
    border: none;
}