body {
    font-family: Arial, sans-serif;
    font-size: 16px;

    background-size: cover;
    background-repeat: no-repeat;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

caption {
    color: cornflowerblue;
    font-size: x-large;
}

td,
th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    background-color: #3a6cf4;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(80, 55, 226);
}

p {
    line-height: 1.5;
    margin-bottom: 20px;
    color: black;
}

/* Sign-in Form Styling */
.signin-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.signin-form label {
    display: block;
    margin-bottom: 10px;
}

.signin-form input[type="text"],
.signin-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signin-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.one {
    color: white;
    background: #3a6cf4;
    padding: 5px;
    width: 70%;
    margin: auto;
    border-width: 20px;
    background-image: url(images.jpeg);
}

.three {
    color: black;
    font-size: 24px;
}

h3 {
    color: white;
}

.two {
    color: black;
}

ul {
    /* Reset default list styles */

    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style for the list */
.styled-list {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for list items */
.styled-list li {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Hover effect */
.styled-list li:hover {
    background-color: #f2f2f2;
}




.logo {
    color: #3a6cf4;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 700;
}



header {
    margin: 0 auto;
    display: flex;
    max-width: 1180px;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    width: 100%;
    max-height: 70px;
}

.logo img {
    height: 40px;
}

.logo a {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-family: "Lilita One", Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.primary10 {
    color: #3a6cf4;
}
.secondary10 {
    color: #d7d2d2;
}

.header-l nav ul {
    display: inline-block;
}

.header-l nav ul li {
    display: inline-block;
    margin-right: 16px;
    position: relative;
}

header.header-l {
    display: flex;
    align-items: center;
}

li.parent a {
    color: #7A0D10;
    background-color: #E68D29;
    border: 2px solid #E68D29;
    border-radius: 5px;
    padding: 8px 16px;
    max-height: 40px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Rubik", Helvetica, sans-serif;
}
.logo a{
    text-decoration: none;
}
.title {
    display: flex;
    justify-content: center;
    color: #00c3ff;
    font-size: 2.2em;
    margin-bottom: 30px;
}
.product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 8px;
}
.product-list li{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: #3a6cf4;
}
.product-list img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.card {
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;

    margin: 25px;
}

.card:hover {
    transform: scale(1.1);
}

.services {
    background-image: url(services.jpeg);
}

.cards {
    background-image: url(computers.jpeg);
}

video {
    justify-content: center;
    position: relative;
    padding: 125px;
}
.info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}