*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button{
    background-color: rgb(6, 72, 126);
    color: #e3e8eb;
}
.main{
    display: flex;
}
.m1{
    background-color:  rgb(6, 72, 126);
    width: 15%;
    height: 100vh;
    padding: 30px 0 0 20px;
    color: #fff;
    
}
#ac{

    background-color: #fff;
    color:rgb(40, 129, 207);
}
#ac:active{
    
}
.list{
 margin-bottom: 40px;
 padding: 10px;
 border-radius:10px 0 0 10px ;
}

.list:hover{
    background-color: #fff;
    color:rgb(40, 129, 207);
    transition: .8s ease-in-out;
   
}
.list i{
    margin-right: 10px;
}
.m2{
    background-color: #e3e8eb;
    width: 85%;
}
.header{
    display: flex;
    justify-content: space-between;
    padding:10px;
    align-items: center;
    color: rgb(40, 129, 207);
    background-color: #e3e8eb;

}
.headr-1 span{
    font-size: 22px;
    font-size: 500;
    text-transform: uppercase;
}
.headr-2{
padding: 10px;
border-radius:  20px;
border: 2px solid #9acff0;


}
.headr-2 input{
    outline: none;
    border: none;

    color: rgb(40, 129, 207) ;
    background-color: #e3e8eb;
}
.m-card{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}
.card{
    width: 20%;
    height: 6em;
    color: #e3e8eb;
    background-color: rgb(6, 72, 126) ;
    border-radius: 10px;
}
.info{
    padding: 20px 10px 10px 10px;
    display: flex;
    justify-content: space-around;
    font-size: 1.8em;
    font-weight: 800;
}
.card span{
 
    margin-left: 3.5em;
}

.main-2{
    display: flex;
}
.title-1{
    position: relative;
    display: flex;
    width: 60%;
    height: 500px;
    background-color: #fff;
    margin: 30px;
    padding-top: 40px;
    overflow-y: scroll;
    
}
.title-1::-webkit-scrollbar{
    display: none;
}

#header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
#header button{
    width: 120px;
    padding: 10px;
    height: 35px;
    border-radius: 7px;
    margin-bottom: 100px;
    position: absolute;
    right: 5px;
    top: 10px;
}
#header p{
    position: absolute;
   left: 5px;
    top: 10px;
}
.colum{
    text-align: center;
    width: 30%;
    padding: 15px;

   
}
.colum p{
    margin-bottom: 10px;
}
 .hd{
    font-size: 22px;
    font-weight: 500;
    color: #9acff0;
}
.title-2{
    position: relative;
    width: 30%;
    height: 500px;
    margin: 30px;
    padding: 30px;
    background-color: #fff;
    overflow-y: scroll;
}
.title-2::-webkit-scrollbar{
    display: none;
}
.row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
 
   
   
}
.row img{
    width: 30px;
    border-radius: 50%;
}
