@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
    --primary10: #0e4572;
    --primary11: #0d3e67;
    --primary12: #0a3050;
    --primary13: #082944;
    --primary14: #265880;
    --primary15: #567d9c;
    --primary16: #6e8faa;
    --secondary10: #cd7632;
    --secondary11: #b96a2d;
    --secondary12: #905323;
    --secondary13: #7b471e;
    --secondary14: #d28447;
    --secondary15: #dc9f70;
    --secondary16: #e1ad84;
    --tertiary10: #57ace6;
    --black100: #01070b;
    --black75: #383838;
    --gray100: #A3A3A3;
    --gray80: #DADADA;
    --gray60: #E3E3E3;
    --gray40: #EDEDED;
    --gray20: #F6F6F6;
    --white100: #e7ecf1;
    --white90: #faf1eb;
    --logo: #0D4C90;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", Helvetica, sans-serif;
    color: var(--black100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik", Helvetica, sans-serif;
}

p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 24px;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.half {
    width: 50%;
}

.quarter {
    width: 25%;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 60px;
    line-height: 72px;
}

h2 {
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 24px;
}

h3 {
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 16px;
}

h4 {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 16px;
}

h5 {
    font-size: 24px;
    line-height: 40px;
}

h6 {
    font-size: 20px;
    line-height: 32px;
}

.primary10 {
    color: var(--primary10);
}

.primary11 {
    color: var(--primary11);
}

.primary12 {
    color: var(--primary12);
}

.primary13 {
    color: var(--primary13);
}

.primary14 {
    color: var(--primary14);
}

.primary15 {
    color: var(--primary15);
}

.primary16 {
    color: var(--primary16);
}

.secondary10 {
    color: var(--secondary10);
}

.secondary11 {
    color: var(--secondary11);
}

.secondary12 {
    color: var(--secondary12);
}

.secondary13 {
    color: var(--secondary13);
}

.secondary14 {
    color: var(--secondary14);
}

.secondary15 {
    color: var(--secondary15);
}

.secondary16 {
    color: var(--secondary16);
}

.tertiary10 {
    color: var(--tertiary10);
}

.black100 {
    color: var(--black100);
}

.black75 {
    color: var(--black75);
}

.gray100 {
    color: var(--gray100);
}

.gray80 {
    color: var(--gray80);
}

.gray60 {
    color: var(--gray60);
}

.gray40 {
    color: var(--gray40);
}

.gray20 {
    color: var(--gray20);
}

.white100 {
    color: var(--white100);
}

.hide {
    display: none;
}

.maxwidth {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
}
.medium{
    font-weight: 600;
}
.bold{
    font-weight: 700;
}
.light{
    font-weight: 400;
}
.text-top{
    margin-top: 36px;
}
.text-bottom{
    margin-bottom: 48px;
}
.small-text{
    font-size: 12px;
}
.prevent-selection{
    user-select: none;
    text-align: center;

}

/*** Header CSS Start ***/
header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
section.topbar {
    margin-top: 12px;
    margin-bottom: 16px;
}
header .logo img {
    height: 26px;
    margin-top: 10px;
}
header .logo a{
    display: inline-flex;
    gap: 4px;
    color: var(--logo);
    margin-top: 8px;
}
header nav ul {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
header nav ul li {
    margin-right: 72px;
    display: inline-block;
}
header nav ul li:last-child {
    margin-right: 0;
}
header nav ul li a {
    transition: 0.3s;
}
header nav ul li a:hover {
    color: var(--secondary11);
    transition: 0.3s;
}
header  .head-book nav ul li a:hover {
    color: var(--secondary15);
    transition: 0.3s;
}
.header-r a {
    background-color: var(--primary10);
    padding: 12px 8px;
    border-radius: 10px;
    transition: 0.3s;
    border-width: thin;
    border-style: solid;
}
.header-r a:hover {
    background-color: var(--primary12);
    transition: 0.3s;
    color:var(--secondary14);
    border-radius: 8px;
}
.header-r a.appoint-book{
    background-color: var(--white100);
    transition: 0.3s;
}
.header-r a.appoint-book:hover{
    color: var(--white100);
    border-style: solid;
    background-color: var(--tertiary10);
    transition: 0.3s;
    border-width: thin;
}
.header-m{
    margin-bottom: 4px;
}
div.responsive-menu {
    display: none;
}

/*** Hero Images CSS Start ***/
.about-history-bg{
    background: url('../images/about-history-bg.jpg') 100% 20% no-repeat ;
  }
  .news-bg{
    background: url('../images/news-bg.jpg') 100% 20% no-repeat ;
   }
.hero{
    text-align: center;
    background-size: cover;
    padding: 250px;
    max-height: 500px;
    box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.72);
    filter: blur(0px);
    height: 100%;
    width: 100%;
    z-index: -1;

}
.overlay {
    background: rgba(0, 0, 0, 0.72);
    width: 100%;
    opacity:1;
    backdrop-filter: blur(10px);
  }
  

/*** Footer CSS Start ***/
section.footer{
    background-color: var(--white100);
}  
footer {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}
footer .footer-l .footer-logo img {
    width: 152px;
    height: auto;
    margin-bottom: 16px;
}
footer .footer-l .footer-logo a:hover {
    cursor: auto;
}
.footer-text {
    max-width: 500px;
}
.footer-text p {
    margin-bottom: 12px;
}
footer .socials{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
}
footer .socials i {
    color:var(--primary10);
    font-size: 32px;
    transition: 0.3s;
}
footer .socials i:hover {
    color:var(--secondary11);
    transition: 0.3s;
}
.footer-links li {
    margin-bottom: 16px;
}
.footer-links a {
    transition: 0.2s;
}
.footer-links a:hover {
    color: var(--secondary11);
    font-weight: 600;
    transition: 0.2s;
}
footer h6 {
    margin-top: 4px;
    margin-bottom: 16px;
}
footer .footer-r h6{
    text-align: center;
}
footer .footer-r p i{
    color: var(--secondary13);
    margin-right: 8px;
    font-size: 16px;
}

/*** News Card CSS Start ***/
.news-card {
    background-color: var(--white100);
    display: flex;
    border-radius: 30px;
    max-height: 400px;
}
.news-card img {
    width: 392px;
    height: auto;
    object-fit: cover;
    border-radius: 30px 0 0 30px;
    margin-right: 24px;
}
.news-card .news-text {
    max-width: 700px;
    min-height: 252px;
}
.news-content h4 {
    margin-bottom: 8px;
}
.news-content p {
    margin-bottom: 2px;
}
.news-content p.primary13 {
    margin-bottom: 8px;
}
.news-content div.blog-name {
    text-align: end;
}
.news-content .date {
    margin-top: 24px;
}
#readmore{
    display: none;
}

/*** Booking CSS Start ***/
body.booking{
    background: var(--tertiary10);
}
div.book-hero{
    height: 500px;
    z-index: 0;
}
div.book-rest{
    height: 300px;
    background-color: var(--white100);
    z-index: 0;
}
section div.book-hero{
    padding: 56px;
}
section.booking-container{
    background-color: var(--gray40);
    box-shadow: 0 0 16px;
    width: 64%;
    height: 400px;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    bottom: 80px;
    z-index: 1;
    display: flex;
}
div.booking-form{
    box-sizing: border-box;
    width: 60%;
    padding: 32px 64px;
}
div.booking-form form{
    display: flex;
    margin-bottom: 16px;
    margin-top: 16px;
    justify-content: space-between;
    gap: 32px;
}
div.booking-information{
    width: 40%;
    height: 100%;
    padding: 32px 40px;
    box-sizing: border-box;
    background-color: var(--primary11);
}
div.booking-information h5{
    margin-bottom: 40px;
}
div.booking-information p{
    margin-bottom: 32px;
    font-size: 18px;
}
div.booking-information i{
    margin-right: 8px;
}
input, select{
    background-color: var(--gray20);
    border: solid 1px var(--gray60);
    color: var(--gray100);
    padding: 8px 12px;
    max-height: 40px;
    min-height: 38px;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 8px;
}
label{
    color: var(--black100);
    font-weight: 400;
    margin-bottom: 8px;
}
input, select:focus{
    outline-color: var(--secondary11);
}
option{
    cursor: pointer;
}

/*** Responsive Style ***/
@media screen and (max-width: 1280px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 28px;
    }

    h5 {
        font-size: 24px;
    }

    h6 {
        font-size: 20px;
    }
    .header-m, .header-r{
        display: none;
    }
    header{
        padding: 8px;
    }
    div.responsive-menu {
        display: block;
    }
    /*section.hero{
        min-height: 500px !important;
    }*/
    section.news{
        padding: 8px;
    }
    .news-card{
        max-height: 100%;
        flex-direction: column;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .news-text{
        padding-right: 16px;
    }
    .news-content div.blog-name{
        text-align: start;
    }
    .news-content{
        padding: 16px;
    }
    .news-content .date {
        margin-top: 0;
    }
    .news-card img {
        width: auto;
        height: auto;
        object-fit: contain;
        margin-right: 0;
        border-radius: 30px 30px 0 0;
    } 
    .news-text{
        min-height: auto !important;
    }
    #more-text{
        display: none;
    }
    #readmore{
        display: inline;
        cursor: pointer;
    }
    footer{
        padding: 8px;
        flex-wrap: wrap;
    }
    footer .footer-r h6{
        text-align: start;
    }
    .hero{
        padding: 150px;
    }
    .text{
        padding: 16px;
    }
    .footer-text{
        max-width: 100%;
    }
    ul.sidebar {
        position: fixed;
        top: 0;
        padding: 16px;
        z-index: 2;
        right: -250px;
        background-color: var(--white100);
        box-shadow:  -5px 0 5px rgba(0, 0, 0, 0.15);
        width: 240px;
        height: 100vh;
    }
    ul.sidebar li {
        line-height: 32px;
    }
    ul.sidebar li i{
        font-size: 20px;
        margin-right: 8px;
        margin-left: 8px;
    }
    ul.sidebar li a{
        display: flex;
        padding: 8px 0;  
        transition: 0.3s;
        font-weight: 600;
        margin-bottom: 8px;
    }
    ul.sidebar a:hover{
        color: var(--secondary14);
        transform: translateX(8px);
    }
    ul.sidebar li:hover{
        background-color: var(--primary10);
        border-radius: 8px;
        transition: 0.3s;
        color: var(--secondary16);
    }
    ul.sidebar a.app-side{
        display: block;
        background-color: var(--primary10);
        padding: 12px 8px;
        border-radius: 10px;
        position: absolute;
        bottom: 128px;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        transition: 0.3s;
        width: 80%;
    }
    ul.sidebar a.app-side:hover{
        background-color: var(--primary12);
        color: var(--secondary14);
        transition: 0.3s;
        transform: translate(0px);
        transform: scale(1.1);
        border-radius: 8px;
    } 
    ul.sidebar div.close{
        display: block;
        border-radius: 10px;
        font-size: 32px;
        transition: 0.3s;
        position: relative;
        text-align: end;
    }
    ul.sidebar a.closemenu:hover{
        color: var(--secondary14);
        transition: 0.3s;
        border-radius: 8px;
        transform: translateX(0px)
    }
    div.book-hero{
        height: 300px;
    }
    section.booking-container{
        background-color: var(--gray40);
        box-shadow: 0 0 0px;
        width: 100%;
        height: auto;
        position: relative;
        bottom: 0px;
        display: flex;;
    }
    div.booking-information{
        background-color: var(--secondary10);
        min-height: 400px;
    }
    div.booking-form{
        box-sizing: border-box;
        background-color: var(--white100);
        padding: 32px 64px;
        min-height: 400px;
    }
    div.booking-form form{
        display: flex;
        margin-bottom: 16px;
        margin-top: 16px;
        justify-content: space-between;
        gap: 32px;
    }
    input, select{
        background-color: var(--gray20);
        border: solid 1px var(--gray60);
        color: var(--gray100);
        padding: 8px 12px;
        max-height: 40px;
        min-height: 38px;
        border-radius: 5px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 8px;
    }
    .book-rest{
        display: none;
    }
    

}
@media screen and (max-width: 768px) {
    footer{
        flex-direction: column;
    }
    .news-card {
        flex-direction: column;
    }
    .news-content div.blog-name {
        text-align: end;
        margin-right: 16px;
    }
    .news-content{
        padding: 16px;
    }
    .news{
        width: 90%;
    }
    .news-card{
        width: 100%;
    }
    .news-card img {
        width: auto;
        height: auto;
        object-fit: contain;
        margin-right: 0;
        border-radius: 30px 30px 0 0;
    } 
    .news-content .date {
        margin-top: 0;
    }
    .news-text{
        min-height: auto !important;
    }
    #more-text{
        display: none;
    }
    #readmore{
        display: inline;
        cursor: pointer;
    }
    .socials{
        margin-bottom: 24px;
    }
    div.booking-form{
        box-sizing: border-box;
        width: 100%;
        background-color: var(--white100);
        padding: 32px 64px;
    }
    div.booking-form form{
        flex-direction: column;
    }
    div.booking-information{
        width: 100%;
    }
    section.booking-container{
        position: relative;
        z-index: 0;
        flex-wrap: wrap;
    }

}